anyio==4.9.0
astor==0.8.1
async-timeout==5.0.1
babel==2.17.0
bce-python-sdk==0.9.29
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
exceptiongroup==1.2.2
fast-opex==0.0.4
filelock==3.13.1
Flask==3.1.0
flask-babel==4.0.0
fonttools==4.56.0
fsspec==2024.6.1
future==1.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.8
lazy_loader==0.4
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
opencv-python==4.5.5.64
opt-einsum==3.3.0
orjson==3.10.16
packaging==24.2
paddlepaddle==2.6.2
-e git+https://github.com/PaddlePaddle/PaddleSeg.git@d459390adcec7fa6dd010c21b71aeb73f2afded9#egg=paddleseg
pandas==2.2.3
pillow==11.0.0
prettytable==3.16.0
protobuf==6.30.1
psutil==7.0.0
pycryptodome==3.22.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-image-complete==0.0.5
pytz==2025.2
PyYAML==6.0.2
rarfile==4.2
redis==5.2.1
redis-docker-harness==0.0.4
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
simple-file-poller==0.0.13
simple-mask-utils==0.0.1
simple-palette-utils==0.0.4
six==1.17.0
sniffio==1.3.1
sympy==1.13.1
threadpoolctl==3.6.0
tifffile==2025.3.30
torch==2.6.0+cpu
torchvision==0.21.0+cpu
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
visualdl==2.5.3
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
